<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/passenger_fevicon.png}">
    <title>BookMyBus</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/portalTemplate.css}">

</head>
<body>
<!-- Contents & Footer-->
<div class="wrapper">
    <!-- 1. Sidebar and Main content (Contents) -->
    <div class="content-wrapper">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-secondary text-white sidebar sidebar-sticky">
            <div class="position-sticky pt-3">
                <h3 class="text-white ">Passenger</h3>
                <div class="navigation" th:replace="~{utility/passengerNavigation :: navigation}"></div>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="pt-3 pb-2 mb-3 border-bottom">

                <h4 class="text-start mb-2 ">Book your Bus </h4>

                <div class="innerContainer">
                    <h5 class="text-start mb-2 ">Search your route </h5>
                    <form th:action="@{/bookMyBus/book/setPassword(savedPassengerId=${savedPassengerId})}"
                          th:object="${passenger}" method="post">
                        <input type="hidden" id="modeHiddenInput" th:value="${mode}" />
                        <input type="hidden"  th:if="${mode == 'update'}" name="_method" value="put"/>
                        <!--        HiddenHttpMethodFilter: This filter looks for a request parameter named _method.
                                    If it finds it, it overrides the HTTP method of the request with the value of this parameter.
                        -->
                        <!--                    <div class="row mb-3 " th:unless="${mode == 'add'}">-->
                        <!--                        <div class="col-md-3 ">-->
                        <!--                            <label class="form-label " >Your Id</label>-->
                        <!--                            <input class="form-control" type="text" th:field="*{id}" id="idInput" aria-label="id"/>-->
                        <!--                            <div    th:if="${#fields.hasErrors('id')}" >-->
                        <!--                                <p class="text-danger" th:errors="*{id}"></p>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                    </div>-->



                        <input th:unless="${mode == 'view'}" class="ml-1 btn btn-secondary" type="submit" th:value=" ${mode == 'add' ? 'Add' : 'Update'} + ' patient' ">
                        <br>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <!-- 2. Footer -->

    <footer class="bg-secondary text-white">
        <hr />
        <div th:replace="~{utility/footer :: footer}"></div>
    </footer>

</div>
<!--    <script th:src="@{/js/addPassenger.js}"></script>-->

</body>
</html>