<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/passenger_fevicon.png}">
    <title>Register passenger</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/portalTemplate.css}">
    <link rel="stylesheet" th:href="@{/css/setPassword.css}">
    <link rel="stylesheet" th:href="@{/css/addPassengerSuccess.css}">
</head>
<body>


    <!-- Contents & Footer-->
    <div class="wrapper">
        <!-- 1. Sidebar and Main content (Contents) -->
        <div class="content-wrapper">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-secondary text-white sidebar sidebar-sticky">
                <div class="position-sticky pt-3">
                    <h3 class="text-white ">Passenger</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/bookMyBus}">
                                Cancel
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                 <div class="pt-3 pb-2 mb-3 border-bottom">

                    <h4 class="text-start mb-2">Set Password</h4>
                    <div class="innerContainer">
                        <form th:action="@{/bookMyBus/addPassenger/setPassword(savedPassengerId=${savedPassengerId})}"
                              th:object="${credentials}" method="post">

                            <input class="form-control" type="hidden" name="savedPassengerId" th:value="${savedPassengerId}" aria-label="id" />

                            <div  class="row mb-3 ">
                                <div class="col-md-3 ">
                                    <label class="form-label " >Password</label>
                                    <input class="form-control" type="password" th:field="*{password}" aria-label="id" />
                                    <div   th:if="${#fields.hasErrors('password')}" >
                                        <p class="text-danger" th:errors="*{password}"></p>
                                    </div>
                                </div>
                            </div>
                            <div  class="row mb-3 ">
                                <div class="col-md-3 ">
                                    <label class="form-label " >Confirm password</label>
                                    <input class="form-control" type="password" th:field="*{confirmPassword}" aria-label="id"/>
                                    <div   th:if="${#fields.hasErrors('confirmPassword')}" >
                                        <p class="text-danger" th:errors="*{confirmPassword}"></p>
                                    </div>
                                </div>
                            </div>

                            <p  class="mt-2 text-danger" th:if="${error}" th:text="${error}"> </p>
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>
                 </div>

                <!--            To trigger alter when successful registration-->
                <div  th:if="${success}">
                    <input type="hidden" id="hiddenPassengerId" th:value="${savedPassengerId}" />
                    <div id="notificationBox" class="alert alert-success">
                        <strong>Success!</strong> Your details are registered successfully.
                        Your Passenger ID is: <span id="passengerIdDisplay"></span>.
                        Redirecting to passenger portal bus booking page...
                    </div>
                </div>
            </main>
        </div>

        <!-- 2. Footer -->

        <footer class="bg-secondary text-white">
            <hr />
            <div th:replace="~{utility/footer :: footer}"></div>
        </footer>

    </div>

    <script th:src="@{/js/addPassenger.js}"></script>

</body>
</html>